<h2 class="title"><%= @food.name %></h2>
<div class="container">
  <div class="row" align="center">
    <div class="offset-md-4 col-md-4">
      <div class="card">
        <img class="card-img-top lozad" src="../assets/<%= @food.img %>">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="padding-top: 0;">Description:<br/><%= @food.description %></li>
            <li class="list-group-item">Location: <%= @food.location %></li>
            <li class="list-group-item" style="padding-bottom: 0;">Phone: <%= @food.phone %></li>
          </ul>
        </div>
      </div>
      <%= link_to 'Go Back', foods_path, class: "btn btn-outline-dark", style: "margin-bottom: 16px;" %>
    </div>
  </div>
</div>
