<h2 class="title">Reviews</h2>

<p id="notice" align="center">Notice: <span style="color: #5cb85c;"><%= notice %></span></p>

<div class="container">
  <div class="row" align="center">
    <% @reviews.each do |review| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Review From <%= review.name %><br/>
              <small><i><%= time_ago_in_words(review.created_at) %> ago</i></small>
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">To see <%= review.name %>'s full review, please click Show Review.</li>
              <!--<li class="list-group-item">Added <%= time_ago_in_words(review.created_at) %> ago</li>-->
            </ul>
            <div style="margin-top: 16px;">
              <%= link_to 'Show Review', review, class: "btn btn-outline-success" %>
              <!--<%= link_to 'Edit', edit_review_path(review), class: "btn btn-info" %>-->
              <!--<%= link_to 'X', review, method: :delete, class: "btn btn-danger" %>-->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div align="center">
  <%= link_to 'Add Review', new_review_path, class: "btn btn-primary btn-sm", style: "margin-bottom: 16px;"%>
</div>
