<h2 class="title">Reviews</h2>

<p id="notice" align="center"><%= notice %></p>

<div class="container">
  <div class="row" align="center">
    <% @reviews.each do |review| %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Review From <%= review.name %></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">To see <%= review.name %>'s full review, please click Show Review.</li>
            </ul>
            <div style="margin-top: 16px;">
              <%= link_to 'Show Review', review, class: "btn btn-dark" %>
              <%= link_to 'Edit', edit_review_path(review), class: "btn btn-info" %>
              <%= link_to 'X', review, method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<center>
  <%= link_to 'New Review', new_review_path, class: "btn btn-success", style: "margin-bottom: 16px;"%>
</center>
