<h2 class="title"><%= @review.name %>'s Review:</h2>
<div class="container">
  <div class="row" align="center">
    <div class="col-md-12">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span style="font-weight: bold;">Name:</span><br/><%= @review.name %></li>
          <li class="list-group-item"><span style="font-weight: bold;">E-mail:</span><br/><%= @review.email %></li>
          <li class="list-group-item"><span style="font-weight: bold;">Description:</span><br/><%= @review.description %></li>
        </ul>
      </div>
      <%= link_to 'Go Back', reviews_path, class: "btn btn-success", style: "margin-bottom: 16px;" %>
    </div>
  </div>
</div>
